<div id="board">
  <table>
    <% board.to_array.each do |row| %>
      <tr>
        <% row.each do |spot| %>
          <td>
            <%= content_tag(:div, "", id: spot.last['name'], class: spot.last['direction']) if spot.last %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
