<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Eden AI</h1>
      <p>An Artificial Inteligence Playground</p>
    </div>
    <%= link_to new_room_path do %>
      <button>Start Testing</button>
    <% end %>
  </div>
</div>
